.btn {
	// : 代表 pseudo-class，通常會利用它在某些特殊情況來 style element
	// 這邊的 :link 跟 :visited 是 <a> 的 pseudo-class
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s; // 必須加在 initial state
		position: relative;
		font-size: $default-font-size;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);
	}

	// 這邊的設定是讓 pseudo element 跟原始的 button 一樣
	&::after {
		content: ''; // pseudo element 一定要加這個 property，不然不會顯示出來
		display: inline-block; // pseudo element 一定要加這個 property，不然不會顯示出來
		width: 100%;
		height: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--white {
		background-color: white;
		color: $color-grey-dark;

		&::after {
			background-color: white;
		}
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards; // 可以讓 element 直接從 animation 0% 的時候開始
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}
}
